# GCP
GCP_PROJECT_ID=your-project-id
GCP_REGION=europe-west1
GCS_BUCKET_NAME=smartstudy-pdfs-your-project-id
GCP_SA_EMAIL=smartstudy-sa@your-project-id.iam.gserviceaccount.com

# MongoDB Atlas
MONGODB_URI=mongodb+srv://USER:PASSWORD@CLUSTER.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB_NAME=smartstudy
MONGODB_CONTEXT_COLLECTION=context
MONGODB_HISTORY_COLLECTION=chat_history
MONGODB_VECTOR_INDEX=vector_index

# Local dev
GOOGLE_APPLICATION_CREDENTIALS=./service-account-key.json