MONGODB_URI=mongodb+srv://USER:PASSWORD@CLUSTER.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB_NAME=smartstudy
MONGODB_CONTEXT_COLLECTION=documents
MONGODB_VECTOR_INDEX=vector_index
EMBEDDING_MODEL=text-embedding-005
GOOGLE_APPLICATION_CREDENTIALS=../service-account-key.json